@import "../../../styles.scss";
.container {
    margin-top: 5vh;
    .container {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        .slogan {
            font-size: $fs-medium;
            letter-spacing: 2.5vw;
            text-align: right;
        }
        .mark {
            font-size: $fs-large;
            font-weight: bolder;
        }
        .title {
            font-size: $fs-medium;
            font-weight: bolder;
        }
        &.img {
            height: clamp(100px, calc(100px + 5vw), 600px);
            text-align: center;
        }
        .back {
            position: absolute;
            height: inherit;
            width: 75vw;
            padding-top: 10px;
            padding-bottom: 10px;
            background-image: url("../../../assets/Icons/discoverMore.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            .button {
                position: absolute;

                font-size: $fs-medium;
                text-transform: uppercase;
                border: 3px solid $col_white;
                padding: 4px 30px;
                color: $col_white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes MoveInLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes MoveInRight {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
