<div class="container flex column">
    <div class="container flex column center">
        <div class="slogan">{{ slogan.subtitle }}</div>
        <div class="mark">{{ slogan.title }}</div>
    </div>
    <div class="container intro">
        <div class="title">{{ slogan.paragraphTitle }}</div>
        <div class="text">
            {{ slogan.paragraph }}
        </div>
    </div>
    <div class="container flex center img">
        <div class="back"><div class="button">Discover More</div></div>
    </div>
</div>
