@import "../../styles.scss";

.featured {
    margin-top: 10vh;
    margin-bottom: 10vh;
    .title {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.cards {
    row-gap: 25px;
    margin-top: 10vh;
    column-gap: 4vw;
}
