<div class="bigcard">
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="{{ card.url }}" alt="nike-air-shoe" />
            </div>

            <div class="contentBx">
                <h6>{{ card.name }}</h6>

                <div class="size">
                    <h3>Size :</h3>
                    <span *ngFor="let item of card.sizes">{{ item }}</span>
                </div>

                <div class="color">
                    <h3>Color :</h3>
                    <span
                        *ngFor="let item of card.colors"
                        [style.background-color]="item"
                    ></span>
                </div>
                <div class="price">
                    <h3>Price :</h3>
                    <span>{{ card.price }}</span>
                </div>
                <div class="button"><a href="">Buy Now</a></div>
            </div>
        </div>
    </div>
</div>
