<body>
    <div class="container">
        <div class="title">{{ form.title }}</div>
        <div class="subtitle">{{ form.subtitle }}</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-user fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="First name"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-user fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Last name"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa fa-envelope fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Email"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-phone fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Phone number"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa-solid fa-location-dot fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Address"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            >
                            <i class="fa-solid fa-address-card fa-xs icon "></i>                        </span>
                        <label for="status"></label>

                        <select name="status" id="names">
                            <option value="  user" class="option">   User</option>
                            <option value="  seller" class="option" >Seller</option>
                        </select>
                    
                    </div>
             
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa fa-key fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="password"
                            placeholder="Password"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa fa-key fa-xs icon"></i
                        ></span>
                        <input
                            class="input-field"
                            type="password"
                            placeholder="Confirm password"
                            required
                        />
                    </div>
                    
                   
                </div>
                
             <app-buttons></app-buttons>
            </form>
        </div>
    </div>
</body>
