<body>
    <div class="container">
        <div class="title">{{ form.title }}</div>
        <div class="subtitle">{{ form.subtitle }}</div>
        <div class="content">
            <form action="#" (ngSubmit)="saveUser()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-user fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="First name"
                            [(ngModel)]="userToRegister.username"
                            name="userName"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-user fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Last name"
                            [(ngModel)]="userToRegister.lastname"
                            name="lastName"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa fa-envelope fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Email"
                            [(ngModel)]="userToRegister.email"
                            name="email"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-phone fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Phone number"
                            [(ngModel)]="userToRegister.phoneNumber"
                            name="phoneNumber"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa-solid fa-location-dot fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="text"
                            placeholder="Address"
                            [(ngModel)]="userToRegister.Address"
                            name="address"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span">
                            <i class="fa-solid fa-address-card fa-xs icon"></i>
                        </span>
                        <label for="status"></label>

                        <select name="status" id="names" [(ngModel)]="status">
                            <option value="user" class="option">User</option>
                            <option value="seller" class="option">
                                Seller
                            </option>
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="span"
                            ><i class="fa fa-key fa-xs icon"></i
                        ></span>

                        <input
                            class="input-field"
                            type="password"
                            placeholder="Password"
                            [(ngModel)]="userToRegister.password"
                            name="password"
                            required
                        />
                    </div>
                    <div class="input-box">
                        <span class="span"
                            ><i class="fa fa-key fa-xs icon"></i
                        ></span>
                        <input
                            class="input-field"
                            type="password"
                            placeholder="Confirm password"
                            required
                        />
                    </div>
                </div>

                <app-buttons></app-buttons>
            </form>
        </div>
    </div>
</body>
