@import "../../styles.scss";
nav {
  font-size: $fs_medium;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px $marg_site;
  }
  .brand {
    font-family: "sprite";
  }
}
.nav-items {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  padding-top: 15vh;
  flex-wrap: wrap;
  overflow: hidden;
  color: $col_white;
  z-index: 2;
}
.nav-item {
  margin: 1.5rem auto 0rem 15vw;
  font-size: $fs_medium;
}
.bucket img {
  width: $fs_medium;
}
i.nav-item {
  margin-right: 0vw;
  margin-top: 0;
}
.items {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
