@import "../../../styles.scss";
.button {
    height: 60px;
    margin: 5% 0;
    width: 240px;
}
.carousel-container {
    z-index: 1;
}

.button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: $col-white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: $col_black;
}
.button input:hover {
    /* transform: scale(0.99); */
    background: $col_white;
    color: $col-black;
    border-color: $col-black;
}
.details-container {
    margin-top: 20vh;
    margin-left: 70px;
    margin-right: 0px;
    width: 50%;
}
.carousel-container {
    width: 50%;
}

.sizes {
    width: 30%;
    font-size: 30px;
    margin-top: 20px;
    div {
        border-style: solid;
        border-width: 1px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 3px;
        padding-right: 3px;
    }
}
.title {
    font-weight: 900;

    letter-spacing: 5px;
}
.like {
    width: 40px;
    height: 40px;
    margin: auto;
}
.title-container {
    width: 60%;
}
.referance {
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 4px;
}
.price {
    margin-top: 5px;
    font-weight: 500;
    font-size: 35px;
}
.fix {
    width: fit-content;
}
.size-selection {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 2%;
}

@media (max-width: 800px) {
    .product-container {
        flex-direction: column !important;
        overflow-x: hidden;
    }
    .details-container {
        justify-content: center;
    }
    .carousel-container {
        margin: 25vh 0 0 0;
        width: 100vw;
    }
}
