<div class="navbar-container">
    <app-navbar class="navbar" [navbar]="content.navbar"></app-navbar>
</div>
<div class="product-container flex section">
    <div class="carousel-container">
        <app-carousel
            [indicators]="false"
            [text]="false"
            [ngStyle]="ngStyle"
            class="carousel"
            [carousel]="content.carousel"
            [auto]="true"
            [interval]="5000"
        ></app-carousel>
    </div>

    <div class="details-container container">
        <div>
            <div class="flex space-between title-container">
                <div class="title">{{ product.name }}</div>
                <div class="like">
                    <img [src]="content.productView.likeLogo" alt="" />
                </div>
            </div>
            <div class="fix referance">Ref: {{ product.type }}</div>
            <div class="fix price">{{ product.price }} TND</div>
            <div class="fix size-selection">Choose a size</div>
            <div class="flex space-between sizes">
                <div *ngFor="let size of product.sizes">
                    {{ size }}
                </div>
            </div>
            <div class="button">
                <input type="submit" value="ADD TO CART" />
            </div>
        </div>
    </div>
</div>
