@import "../../../styles.scss";
.button {
    height: 60px;
    margin: 5% 0;
    width: 240px;
}
.carousel-container {
    z-index: 1;
}
.like {
    cursor: pointer;
}

.button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: $col-white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: $col_black;
}
.button input:hover {
    /* transform: scale(0.99); */
    background: $col_white;
    color: $col-black;
    border-color: $col-black;
}
.details-container {
    margin-top: 20vh;
    margin-left: 70px;
    margin-right: 0px;
    width: 50%;
}
.carousel-container {
    width: 50%;
}
.size,
.color {
    line-height: 1;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transition: 0.5s;
    z-index: 1;
}
.sizes {
    display: flex;
}
.colors {
    display: flex;
}
.color span {
    width: 20px;
    height: 20px;
    font-size: $fs-small;
    border-radius: 50%;
    border: solid 5px transparent;
    margin: 0 5px;
    transition: all 0.1s;
    cursor: pointer;
}
.color {
    span:hover,
    span.active {
        border: solid 5px $col-black;
    }
}

.size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 1px solid $col-grey;
    font-size: 14px;
    display: inline-block;
    color: $col-white;
    background: $col-black;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.size {
    span:hover,
    span.active {
        /* other bug */
        background: $col-white;
        border: 1px solid $col-black;
        color: $col-black;
    }
}

.title {
    font-weight: 900;

    letter-spacing: 5px;
}
.like {
    width: 40px;
    height: 40px;
    margin: auto;
}
.title-container {
    width: 60%;
}
.referance {
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 4px;
}
.price {
    margin-top: 5px;
    font-weight: 500;
    font-size: 35px;
}
.fix {
    width: fit-content;
}
.size-selection {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 2%;
}

@media (max-width: 800px) {
    .product-container {
        flex-direction: column !important;
        overflow-x: hidden;
    }
    .details-container {
        margin-top: 30px;
        justify-content: center;
    }
    .carousel-container {
        margin: 25vh 0 0 0;
        width: 100vw;
    }
}
