<div class="product-container flex section">
    <div class="carousel-container">
        <app-carousel
            [indicators]="false"
            [text]="false"
            [ngStyle]="ngStyle"
            class="carousel"
            [carousel]="content.carousel"
            [auto]="true"
            [interval]="5000"
        ></app-carousel>
    </div>

    <div class="details-container container">
        <div>
            <div class="flex space-between title-container">
                <div class="title">{{ product.name }}</div>
                <div class="like">
                    <i
                        (click)="this.liked = this.liked * -1"
                        class="fa-heart"
                    ></i>
                </div>
            </div>
            <div class="fix referance">Ref: {{ product.type }}</div>
            <div class="fix price">{{ product.price }} TND</div>
            <div class="size">
                <div class="fix size-selection">Choose size</div>

                <div class="sizes">
                    <span #size *ngFor="let item of product.sizes">{{
                        item
                    }}</span>
                </div>
            </div>
            <div class="color">
                <div class="fix size-selection">Choose Color</div>

                <div class="colors">
                    <span
                        *ngFor="let item of product.colors"
                        [style.background-color]="item"
                    ></span>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="ADD TO CART" />
            </div>
        </div>
    </div>
</div>
