<canvas class="unvisible"></canvas>
<div class="nav-items unvisible">
    <i class="fas fa-times nav-item"></i>
    <li class="nav-item" *ngFor="let item of navbar.items">{{ item }}</li>
</div>
<header>
    <nav>
        <ul>
            <li class="brand">{{ navbar.brand }}</li>

            <div class="items">
                <div class="user-icon">
                    <i class="far fa-user"></i>
                </div>
                <div class="bucket">
                    <img
                        class="fas"
                        src="../assets/Icons/paint-bucket.png"
                        alt="shop-bucket"
                    />
                </div>
                <div class="humberger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </ul>
    </nav>
</header>

<script src="../../../assets/nav-animations/script.js"></script>
<script src="../../../assets/nav-animations/perlin.js"></script>
