<canvas id="canvas" class="unvisible"></canvas>
<div class="nav-items unvisible">
    <i class="fas fa-times nav-item"></i>
    <li class="nav-item" *ngFor="let item of navbar.items">{{ item }}</li>
</div>
<header class="navbar" [ngClass]="{ sticky: change }" id="header">
    <nav>
        <ul>
            <li class="brand">
                <div class="blob-container">
                    <app-blob id="blob"></app-blob>
                </div>
                {{ navbar.brand }}
            </li>

            <div class="items">
                <div class="user-icon">
                    <i class="far fa-user"></i>
                </div>
                <div
                    class="bucket"
                    [attr.data-after-content]="numberItems + ''"
                >
                    <img
                        class="fas"
                        src="../assets/Icons/paint-bucket.png"
                        alt="shop-bucket"
                        [ngClass]="{ scale: ad === 1 }"
                    />
                </div>
                <div class="humberger">
                    <i
                        routerLinkActive="router-link-active"
                        class="fas fa-bars"
                    ></i>
                </div>
            </div>
        </ul>
    </nav>
</header>
