<div class="categoriesContainer">
    <div
        class="top"
        [ngStyle]="{ 'background-image': 'url(' + firstOfContent.url + ')' }"
    >
        <div class="popularity">
            <img
                class="isPopular"
                src="../../../../assets/Icons/etoile.png"
                alt="étoile"
            />
            POPULAR RIGHT NOW
        </div>
    </div>
    <div class="under-top">
        <div
            *ngFor="let item of content"
            [ngStyle]="{
                'background-image': 'url(' + item.url + ')'
            }"
        ></div>
    </div>
</div>
