<head>
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
        rel="stylesheet"
    />
</head>
<body>
    <footer>
        <div>
            <span class="logo">{{ this.footer.logo }}</span>
        </div>
        <div class="row" *ngFor="let row of this.footer.rows">
            <div class="col-3" *ngFor="let innerRow of row.arr">
                <div class="link-cat" onclick="footerToggle(this)">
                    <span class="footer-toggle"></span>
                    <span class="footer-cat">{{ innerRow.title }}</span>
                </div>
                <ul class="footer-cat-links">
                    <li *ngFor="let link of innerRow.links">
                        <a href="{{ link.href }}"
                            ><span>{{ link.text }}</span></a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-3" id="newsletter">
                <span>Stay Connected</span>
                <div id="subscribe">
                    <input
                        type="email"
                        id="subscriber-email"
                        placeholder="Enter Email Address"
                    />
                    <input
                        (click)="handleClick()"
                        type="submit"
                        value="Subscribe"
                        id="btn-scribe"
                    />
                </div>

                <div class="social-links social-2">
                    <ng-container *ngFor="let item of footer.socials.links">
                        <a href="{{ item.href }}"
                            ><i class="{{ item.text }}"></i
                        ></a>
                    </ng-container>
                </div>

                <div id="address">
                    <span>{{ this.footer.adr.title }}</span>
                    <ul>
                        <li *ngFor="let item of footer.adr.adresses">
                            <i [class]="item.icon"></i>
                            <div>
                                {{ item.address }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row icons">
            <div class="social-links social-1 col-6">
                <ng-container *ngFor="let item of footer.socials.links">
                    <a href="{{ item.href }}"
                        ><i class="{{ item.text }}"></i
                    ></a>
                </ng-container>
            </div>
        </div>
        <div id="copyright">&copy; All Rights Reserved 2019-2020</div>
    </footer>
</body>
