<div class="container flex column">
  <div class="container flex column center">
    <div class="slogan">JUST LIK</div>
    <div class="mark">619 Street</div>
  </div>
  <div class="container intro">
    <div class="title">Digital mall</div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
      mollitia voluptates accusantium eveniet officia natus dolor cumque
      explicabo recusandae laborum?
    </div>
  </div>
  <div class="container flex center img">
    <div class="back"><div class="button">Discover More</div></div>
  </div>
</div>
