<div class="section">
    <div class="title">{{ form.title }}</div>
      <div class="subtitle">{{ form.subtitle }}</div>
      <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
              <span class="span"> <i class="fa-solid fa-user fa-xs icon"></i></span>
             
              <input  class="input-field"  type="text" placeholder="Username" required>
            </div>
            <div class="input-box">
              <span class="span"><i class="fa fa-key fa-xs icon"></i></span>
              
  
              <input  class="input-field"  type="password" placeholder="Password" required>
            </div>
          
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
          <div class="login-button">
              <input type="submit" value="Login">
            </div>
            </form>
          </div>   
          </div>
        
  
  