@import "../../../styles.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, $col_white, $col_grey);		
}

.container1 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.screen {		
	background: linear-gradient(90deg, $col_white, $col_grey);		
	position: relative;	
	height: 600px;
	width: 450px;	
	box-shadow: 0px 0px 24px $col_black;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 100%;
	width: 170%;
	background: $col_white;	
	top: -8%;
	right: 30%;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 40%;
	width: 60%;
	background: $col_black;	
	top: -29%;
	right: 11%;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 80%;
	width: 55%;
	background: linear-gradient(270deg,#838282,$col_black);
	top: 5%;
	right: -10%;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 80%;
	width: 50%;
	background: #101a29;
	top: 72%;
	right: 2%;	
	border-radius: 60px;
}

.login {
	width: 90%;
	padding: 15%;
	padding-top: 35%;
}

.login__field {
	padding: 10% 0%;	
	position: relative;	
  
}

.login__icon {
	top: 45%;
	color: $col_grey;
  width: 10%;
}

.login__input {
	border: none;
	border-bottom: 2px solid $col_white;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: $col_grey;
}

.login__submit {
	background: $col_white;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid $col_grey;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: $col_grey;
	box-shadow: 0px 2px 2px $col_black;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: $col_black;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: $col_grey;
}

.container {
    margin-top: 0;
    height: 10vh;
    .container {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        
        .title {
            font-size: $fs-medium;
            font-weight: bolder;
        }
        .subtitle {
            font-size: $fs-small;
            font-weight: bolder;
        }
      }
        
    }

